<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>CodeDan通信中心用户登陆页面</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--图标-->
	<link rel="stylesheet" type="text/css" th:href="@{../css/font-awesome.min.css}">
	
	<!--布局框架-->
	<link rel="stylesheet" type="text/css" th:href="@{../css/util.css}">
	
	<!--主要样式-->
	<link rel="stylesheet" type="text/css" th:href="@{../css/main.css}">
	<script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
</head>

<body>

<div class="login">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../img/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form">
				<span class="login100-form-title">
					会员登陆
				</span>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" id="username" name="username" placeholder="账号">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" id="password" name="password" placeholder="密码">
					<span class="focus-input100"></span>
				</div>
				
				<div class="container-login100-form-btn">
					<div class="login100-form-btn" >
						登陆
					</div>
				</div>
				<div  class="text-center p-t-136">
					<a class="txt2" href="/toSign">
							还没有账号？立即注册
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function (){
		$(".login100-form-btn").click(function (){
			var username = $("#username").val();
			var password = $("#password").val();
			$.ajax({
				url:"login",
				type:"post",
				data:{
					username:username,
					password:password
				},
				success:function (res){
					if( "登录成功，正在跳转" == res ){
						window.location.href="/toMain";
					}else{
						alert(res);
					}
				}
			})
		})
		$(document).keydown(function(event) {
			if (event.keyCode == 13) {
				$('.login100-form-btn').click();
			}
		});
	})
</script>

</body>
</html>